/* inline */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
   h1 {
       background-color: aqua;
       color: blue;
       font-style: italic;
   }

   .ITCAMP22,
   #text {
       font-size: 25px;
       color: beige;
       background-color: blueviolet;
   }

   * {
       font-style: italic;
       font-family: "Oswald", sans-serif
   }

